# This file contains configuration parameters for Patient Demographic Supplier tests

# The entries that begin with TEST describe the system
# under test. Please modify to match your configuration parameters.
# If you use a host name, make sure the /etc/hosts table on
# the MESA computer has the appropriate entry.

TEST_PDS_HOST_HL7 = pds
TEST_PDS_PORT_HL7 = 3700

# These parameters describe MESA servers.
# Do not change unless you have port conflicts.

MESA_PDS_HOST_HL7 = localhost
MESA_PDS_PORT_HL7 = 3700

