# This file contains configuration parameters for
# Importer tests

# MESA entries below this point.
# Do not change unless you are having port
# conflicts on your MESA test system.

MESA_IMG_MGR_PORT_HL7 = 2300
MESA_IMG_MGR_PORT_DCM = 2350
MESA_IMG_MGR_AE_MPPS = MESA_IM_AE_MPPS
MESA_IMG_MGR_AE_CSTORE = MESA_IM_AE_CSTORE

MESA_OF_HOST = localhost
MESA_OF_PORT_DCM = 2250
MESA_OF_AE = MESA_OF
MESA_OF_PORT_HL7 = 2200

MESA_MWL_AE = MESA_MWL
MESA_MWL_HOST = localhost
MESA_MWL_PORT = 2250
